.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon {
    font-size: 2rem;
    color: #6900ff;
}

.purple {
    color: #6900ff;
}
/* .search-bar {
    display:flex;
    justify-content: center;
    align-items:center;
    
}
.search-input {
    width: 180px;
    border-radius: 4px;
    padding-left: 6px;
} */